{% extends "layout.html" %}

{% block title %}
Campaigns
{% endblock %}

{% block main %}
<container>
    <h1>Campaigns</h1>
    <br>
    <div class="row">
        <!-- Continue to current campaign -->
        <div class="col-lg-4 col-md-8 justify-content-center" style="padding-bottom: 1rem;">
            <div class="card">
                <div class="card-body">
                    <form action="/campaigns" method="post">
                        <h5 class="card-title">Continue "{{ active[0]['name'] }}"</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Players</h6>
                        <ul class="list-group list-group-flush">
                            {% for player in players %}
                                <li class="list-group-item">{{ player['username'] }}</li>
                            {% endfor %}
                        </ul>
                        <button id="continue" name="continue" class="btn btn-primary btn-block" type="button">Contine</button>
                    </form>
                </div>
            </div>
        </div>
        <!-- Change campaign -->
        <div class="col-lg-4 col-md-8 justify-content-center" style="padding-bottom: 1rem;">
            <div class="card">
                <div class="card-body">
                    <form action="/campaigns" method="post">
                        <h5 class="card-title">Change</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Change primary campaign</h6>
                        <select id="change_campaign" class="form-control" name="change_campaign">
                            <option disabled="" selected="" value="">Change Campaign</option>
                            {% for campaign in campaigns %}
                                <option value="{{ campaign['name'] }}">{{ campaign['name'] }}</option>
                            {% endfor %}
                        </select>
                        <br>
                        <button id="submit" disabled="" class="btn btn-primary btn-block" type="submit">Change</button>
                    </form>
                    <script>
                        document.querySelector('#change_campaign').oninput = function () {
                            if (document.querySelector('#change_campaign').value === '') {
                                document.querySelector('#submit').disabled = true;
                            } else {
                                if (document.querySelector('#change_campaign').value > 0) {
                                    document.querySelector('#submit').disabled = true;
                                } else {
                                document.querySelector('#submit').disabled = false;
                                }
                            }
                        }
                    </script>                    
                </div>
            </div>                
        </div>
        <!-- Join Campaign -->
        <div class="col-lg-4 col-md-8 justify-content-center" style="padding-bottom: 1rem;">
            <div class="card">
                <div class="card-body">
                    <!-- TODO make this post work -->
                    <form action="/campaigns" method="post">
                        <h5 class="card-title">Join</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Enroll in a campaign using a codeword</h6>
                        <select id="join_campaign" class="form-control" name="join_campaign">
                            <option disabled="" selected="" value="">Choose Campaign</option>
                            {% for campaign in allcampaigns %}
                                <option value="{{ campaign['name'] }}">{{ campaign['name'] }}</option>
                            {% endfor %}
                        </select>
                        <br>
                        <input id="codeword" autocomplete="off" autofocus class="form-control" name="codeword" placeholder="codeword" type="text">
                        <br>
                        <button id="submitjoin" disabled="" class="btn btn-primary btn-block" type="submit">Join</button>        
                    </form>
                    <script>
                        document.querySelector('#join_campaign').oninput = function () {
                            if (document.querySelector('#join_campaign').value === '') {
                                document.querySelector('#submitjoin').disabled = true;
                            } else {
                                if (document.querySelector('#join_campaign').value > 0) {
                                    document.querySelector('#submitjoin').disabled = true;
                                } else {
                                document.querySelector('#submitjoin').disabled = false;
                                }
                            }
                        }
                    </script>                    
                </div>
            </div>
        </div>
    </div>    
</container>

{% endblock %}