{% extends "layout.html" %}

{% block title %}
    Help
{% endblock %}

{% block main %}
<container>
    <div class="row justify-content-center">
        <div class="col-6">
            <h1>Help</h1>
            <ol>
                <li>
                    Create an Account
                </li>
                <li>
                    Make a Campaign
                </li>
                <li>
                    Add places
                </li>
                <li>
                    Add NPCs, items, and quests
                </li>
            </ol>
        </div>
    </div>    
</container>
{% endblock %}