{% extends "layout.html" %}

{% block title %}
Home
{% endblock %}

{% block main %}
<container>
    <div class="row">
        <div class="col justify-content-center">
            <h6>Home</h6>
        </div>
    </div>
    <div class="row">
        <div class="col justify-content-center">
            <h1>{{ campaign[0]['name'] }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col justify-content-center">
            <h6>Codeword:  {{ campaign[0]['codeword'] }}</h6>
        </div>
    </div>
    <hr>
    <!-- Players -->
    <div class="row">
        <div class="col-xl-3 col-md-6 justify-content-center" style="padding-bottom: 1rem;">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Players</h5>
                    <ul class="list-group list-group-flush">
                        {% for player in players %}
                            <li class="list-group-item">{{ player['username'] }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>    
        <!-- Quests -->
        <div class="col-xl-3 col-md-6 justify-content-center" style="padding-bottom: 1rem;">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Quests</h5>
                    <ul class="list-group list-group-flush">
                        {% for quest in quests %}
                            <li class="list-group-item">{{ quest['name'] }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>    
        <!-- People -->
        <div class="col-xl-3 col-md-6 justify-content-center" style="padding-bottom: 1rem;">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Characters</h5>
                    <ul class="list-group list-group-flush">
                        {% for person in people %}
                            <li class="list-group-item">{{ person['name'] }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>    
        <!-- Items -->
        <div class="col-xl-3 col-md-6 justify-content-center" style="padding-bottom: 1rem;">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Items</h5>
                    <ul class="list-group list-group-flush">
                        {% for item in items %}
                            <li class="list-group-item">{{ item['name'] }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>    
</container>

{% endblock %}
