{% extends "layout.html" %}

{% block title %}
    Items
{% endblock %}

{% block main %}
<container>
    <h1>Items</h1>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <!-- <th>Place</th> -->
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
            <tr>
                <td>
                    <a href="/more/item/{{ item['name'] }}">
                        {{ item['name'] }}
                    </a>
                </td>
                <!--<td>-->
                <!--    {{ item['place_id'] }}-->
                <!--</td>-->
                <td>
                    {{ item['description'] }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <hr>
    <br>
    <h3>Add a New Item</h3>
    <form action="/items" method="post">
        <div class="form-group">
            <label for="name">Item Name</label>
            <input required autocomplete="off" autofocus class="form-control" id="name" name="name" placeholder="Name" type="text">
        </div>
        <div class="form-group">
            <label for="place">Item Location</label>
            <select style="color:grey" id="place" class="form-control" name="place">
            <option disabled="" selected="" value="">Location</option>
            {% for place in places %}
                <option value="{{ place['name'] }}">{{ place['name'] }}</option>
            {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="description">Item Description</label>
            <textarea class="form-control" id="description" name="description" rows="4"></textarea>
        </div>
        <button class="btn btn-primary" type="submit">Add Item</button>
    </form>
</container>
{% endblock %}