{% extends "layout.html" %}

{% block title %}
    Places
{% endblock %}

{% block main %}
<h1>Places</h1>
<br>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        {% for place in places %}
        <tr>
            <td>
                {{ place['name'] }}
            </td>
            <td>
                {{ place['description'] }}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<hr>
<h3>Add Places</h3>
<br>
<form action="/places" method="post">
    <p>Place Name</p>
    <div class="form-group">
        <input autocomplete="off" autofocus class="form-control" id="name" name="name" placeholder="Name" type="text">
    </div>
    <br>
    <p>Place Description</p>
    <textarea id="description" name="description" rows="6" cols="40"></textarea>
    <br>
    <button class="btn btn-primary" type="submit">Add Place</button>
</form>
{% endblock %}