{% extends "layout.html" %}
{% block title %}
    Edit Quest
{% endblock %}

{% block main %}
<form action="/update/quest" method="post">
    <p>Quest Name</p>
    <div class="form-group">
        <input autocomplete="off" autofocus class="form-control" id="name" name="name" placeholder="{{ quest['name'] }}" type="text">
    </div>
    <br>
    <p>Quest Location (currently: {{ quest['place_name'] }})</p>
    <div class="form-group">
        <select style="color:grey" id="place" class="form-control" name="place">
        <option disabled="" selected="" value="">Location</option>
        {% for place in places %}
            <option value="{{ place['name'] }}">{{ place['name'] }}</option>
        {% endfor %}
        </select>
    </div>
    <br>
    <p>Edit Quest Description</p>
    <textarea id="description" name="description" placeholder="{{ quest['description']}}"rows="6" cols="40"></textarea>
    <br>
    <button class="btn btn-primary" type="submit">Save Changes</button>
</form>
<hr>
<form action="/delete/quest/{{ quest">
    <button class="btn btn-primary" type="submit">
        Delete Quest
    </button>
</form>
{% endblock %}