{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
<container>
    <div class="row">
        <h1>Register</h1>
    </div>
    <hr>
    <div class="row">
        <h2>{{ errmsg }}</h2>
        <h3>Create an account to get started.</h3>
    </div>
    <br>
    <div class="row">
        <p>InCanon helps tell stories by cataloging important details.</p>
    </div>
    <div class="row">
            <p>Players and GMs alike can contribute as the story unfolds.</p>
    </div>
    <br>
    <div class="row">
        <form action="/register" method="post">
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Public Username" type="text">
                <small id="usernamehelp" class="form-text text-muted">Only usernames are public for purposes of invitations.</small>
            </div>
            <div class="form-group">
                <input class="form-control" name="password" placeholder="Password" type="password">
            </div>
            <div class="form-group">
                <input class="form-control" name="passwordconfirm" placeholder="Password (confirm)" type="password">
                <small id="passwordhelp" class="form-text text-muted">Passwords must be at least 8 characters long.</small>
            </div>
            <button class="btn btn-primary" type="submit">Register</button>
        </form>    
    </div>
    <br>
    <hr>
    <div class="row">
        <h2>Data Privacy</h2>
    </div>
    <div class="row">
        <h6>Expressly for the purposes of function, development, and testing, the following user data is kept:</h6>
    </div>
    <br>
    <table class="table table-hover">
        <tbody>
            <tr>
                <td scope="col-sm-3">Username</td>
                <td scope="col-sm-9">This public moniker identifies the player to their party members.</td>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <td scope="col-sm-3">Password</td>
                <td scope="col-sm-9">Passwords are never stored in plaintext, but it's still important to choose something unique.</td>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <td scope="col-sm-3">Activity</td>
                <td scope="col-sm-9">History of logins, logouts, and timestamped attributions may be kept for testing and validation purposes.</td>
            </tr>
        </tbody>
    </table>
    <h5>User data is never shared.</h5>
</container>

{% endblock %}
