{% extends "layout.html" %}

{% block title %}
Welcome
{% endblock %}

{% block main %}
<container>
    <div class="row">
        <div calss="col">
            <h1>Welcome, {{ users[0]['username'] }}</h1>
        </div>
    </div>  
    <br>  
    <div class="row">
        <div calss="col">
            <h4>You're not in a campaign yet. Let's get started.</h4>
        </div>    
    </div>
    <br>  
    <div class="row">
        <div class="col">
            <p>
                Join existing an campaign using the codeword provided by your party or GM, or start your own new campaign.
            </p>
            <p>
                Once a campaign is created, add places, then fill in the places with people, items, and quests from your stories. Everyone on a campaign shares and can edit the same information.
            </p>            
        </div>
    </div>    
    <br>  
    <div class="row">
        <!-- Join Campaign -->
        <div class="col-xl-3 col-md-6 justify-content-center" style="padding-bottom: 1rem;">
            <div class="card">
                <div class="card-body">
                    <!-- TODO make this post work -->
                    <form action="/campaigns" method="post">
                        <h5 class="card-title">Join</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Enroll in a campaign using a codeword</h6>
                        <select id="join_campaign" class="form-control" name="join_campaign">
                            <option disabled="" selected="" value="">Choose Campaign</option>
                            {% for campaign in allcampaigns %}
                                <option value="{{ campaign['name'] }}">{{ campaign['name'] }}</option>
                            {% endfor %}
                        </select>
                        <br>
                        <input id="codeword" autocomplete="off" autofocus class="form-control" name="codeword" placeholder="codeword" type="text">
                        <br>
                        <button id="submitjoin" disabled="" class="btn btn-primary btn-block" type="submit">Join</button>        
                    </form>
                    <script>
                        document.querySelector('#join_campaign').oninput = function () {
                            if (document.querySelector('#join_campaign').value === '') {
                                document.querySelector('#submitjoin').disabled = true;
                            } else {
                                if (document.querySelector('#join_campaign').value > 0) {
                                    document.querySelector('#submitjoin').disabled = true;
                                } else {
                                document.querySelector('#submitjoin').disabled = false;
                                }
                            }
                        }
                    </script>                    
                </div>
            </div>
        </div>
        <!-- Make new campaign -->
        <div class="col-xl-3 col-md-6 justify-content-center" style="padding-bottom: 1rem;">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Start New Campaign</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Make a new story space</h6>
                    <p>
                        Create the campaign, then share the <code>name</code> and <code>codeword</code> with your party members.
                    </p>
                    <a href="/newcampaign">
                        <button id="start" name="start" class="btn btn-primary btn-block" type="button">Start</button>
                    </a>
                </div>
            </div>
        </div>
    </div>    
</container>
{% endblock %}